.example-4-container {
  .subscription-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .feed-item {
    &.next {
      background-color: blue;
    }

    &.complete {
      background-color: green;
    }

    &.error {
      background-color: red;
    }
  }

}